@using Blogss.Models.Context
@model List<Blogss.Models.Blog>



@{
    ViewData["Title"] = "BlogManage";
    Layout = "~/Areas/Adminss/Views/Shared/View.cshtml";
}

<h1>BlogManage</h1>

<h1>Ürün Yönetimi</h1>


<html>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Ürün Tablosu</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Blog ID</th>
                                    <th>Blog Başlığı</th>
                                    <th>Blog Spotu</th>
                                    <th>Blog Yazısı</th>
                                    <th>Blog Resmi</th>
                                    <th>Sil</th>
                                    <th>Düzenle</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.BlogTitle</td>
                                        <td>@item.SpotDefinition</td>
                                        <td>@item.BlogWrite </td>
                                        <td><img src="@item.BlogImage" /> </td>
                                        <td><a href="/Adminss/AdminBlog/BlogDelete/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Adminss/AdminBlog/UpdateBlog/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/Adminss/AdminBlog/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("div.main-panel div.content-wrapper").css("overflow-x", "auto");
    </script>
</body>
</html>
